params {
    input  = ''
    reference = ''
    outdir = ''
}

profiles {
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['defaults']
        apptainer.enabled      = false
        conda.createTimeout    = '10h'
    }
}